<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>

<div id="ajax-demo">
  <h4>test Ajax</h4>
  <form>
    Enter number:<br>
    <input type="text" id="inum" name="inum"<br>
    <button id="load-num" type="button" >Load Num</button>
  </form>
  <p id="showNum"></p>
</div>
<div id="json-demo">
  <h4>JSON Demo</h4>
  <button id="get-data" type="button">Get Data</button>
  <p id="show-data"></p>
</div>
<div id="js-test"></div>

<script src="<%= #static_path(@conn, "/js/app.js") %>"></script>

  <script>//require("js/app").App.hello()</script>
  <script>// require("js/hello2").Hello2.sayHello("index")</script>
  <script>
    // he = require("js/hello");
    //he.Hello.sayHello("a");

    //import Hello from "./hello.js";
    //Hello.sayHello("index app");
  </script>
  <script>
    function putHello(msg) {
      console.log( msg);
    }

    putHello("yo");
  </script>




